### Data Exploration

First, the training data is imported and an overall description is provided.  This will give us a high level view of the data, including its span and variance.  The testing dataset is also imported at this stage, but will be held until the model is tested.

In [7]:
import pandas as pd
import numpy as np

raw_train_set = pd.read_csv('CBC_3200.csv')
raw_test_set = pd.read_csv('CBC_800.csv')

raw_train_set.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Seq#,3200.0,2003.824375,1150.290162,1.0,1015.75,2019.5,2996.25,4000.0
ID#,3200.0,16621.452187,9446.798182,25.0,8387.25,16703.0,24799.50,32977.0
Gender,3200.0,0.703750,0.456674,0.0,0.00,1.0,1.00,1.0
M,3200.0,208.002813,100.440485,15.0,128.00,208.0,284.00,475.0
R,3200.0,13.431875,8.085878,2.0,8.00,12.0,16.00,36.0
F,3200.0,3.780000,3.440065,1.0,1.00,2.0,6.00,12.0
FirstPurch,3200.0,26.277188,18.152209,2.0,12.00,20.0,36.00,99.0
ChildBks,3200.0,0.627188,0.994866,0.0,0.00,0.0,1.00,7.0
YouthBks,3200.0,0.306875,0.617209,0.0,0.00,0.0,0.00,5.0
CookBks,3200.0,0.724063,1.084914,0.0,0.00,0.0,1.00,7.0
DoItYBks,3200.0,0.341562,0.684229,0.0,0.00,0.0,0.00,5.0
RefBks,3200.0,0.251250,0.553484,0.0,0.00,0.0,0.00,4.0
ArtBks,3200.0,0.277187,0.583490,0.0,0.00,0.0,0.00,4.0
GeogBks,3200.0,0.381875,0.748312,0.0,0.00,0.0,1.00,6.0
ItalCook,3200.0,0.124063,0.388063,0.0,0.00,0.0,0.00,3.0
ItalAtlas,3200.0,0.035937,0.208350,0.0,0.00,0.0,0.00,2.0
ItalArt,3200.0,0.045312,0.218287,0.0,0.00,0.0,0.00,2.0
Florence,3200.0,0.084375,0.277993,0.0,0.00,0.0,0.00,1.0

The training set has 3200 rows (customers).  It is also observed that the values are relatively close, with the exception of 'M', which represents the totalized dollar amount the customer spent at the bookstore. The next step is to see if there is any missing data.

Next, the variables not needed will be removed from the dataset.  This includes 'Seq#' and 'ID#'.  These are not value added as are identification numbers assigned to the customer in the dataset, or the entire customer database the bookstore has. There is no information on how these numbers are assigned, but they are assumed to be sequential in nature.  Since the 4000 customers were randomly selected, there should be no correlation between 'Seq#' and 'ID#' and which books are purchased.